<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">
    <title>Atividade MongoDB</title>
</head>
<body>
    <h1>Atividade MongoDB</h1>
    <h2>Coleções</h2>
    <a href="/api/view/funcionario/listar" class="btn btn-primary">Funcionários</a>
    <a href="/api/view/unidade/listar" class="btn btn-warning">Unidades</a>
</body>
</html>